:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #777373;
}

/* figcaption {
  background: #8ACEC4;
  background: linear-gradient(180deg, rgba(138, 206, 196, 0.30) 0%, rgba(57, 148, 148, 0.50) 30%, rgba(75, 178, 139, 0.80) 65%, rgba(63, 91, 85, 1) 100%);
} */


.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 3000px;
  background-color: black;
}

.carousel {
  width: 300px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 20s linear infinite;
  border: red solid 2px;
}

.carousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.carousel__figure {
  position: absolute;
  width: 300px;
  height: 220px;
}

.carousel__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid white;
  transition: all 500ms ease-in-out;
}

.carousel__figure img:hover {
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
}

/* Animación */
@keyframes spin {
  from {
    transform: translateY(-80px) rotateY(0deg);
  }
  to {
    transform: translateY(-80px) rotateY(360deg);
  }
}
