:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #777373;
}

/* figcaption {
  background: #8ACEC4;
  background: linear-gradient(180deg, rgba(138, 206, 196, 0.30) 0%, rgba(57, 148, 148, 0.50) 30%, rgba(75, 178, 139, 0.80) 65%, rgba(63, 91, 85, 1) 100%);
} */